<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt.Net" version="0.1.0" targetFramework="net472" />
  <package id="MaterialDesignColors" version="5.2.1" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="5.2.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.2277.86" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net472" />
  <package id="Stimulsoft.LibExcel" version="2022.4.1" targetFramework="net472" />
  <package id="Stimulsoft.Reports.Engine" version="2025.2.3" targetFramework="net472" />
  <package id="Stimulsoft.Reports.Wpf" version="2025.2.3" targetFramework="net472" />
  <package id="Stimulsoft.Svg" version="2025.2.3" targetFramework="net472" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.9.0" targetFramework="net472" />
</packages>